<!DOCTYPE html>
<html>
<head>
  <title>Angular Friends</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="myApp">
  <h1>The <strong>facebook</strong> Friend Machine</h1>
  <!-- <p ng-repeat="friend in name" >
    {{ friend }}
  </p> -->

  <div class="friends" ng-controller="FriendCtrl"> 
    <form class="form-inline searchForm" role="form">
      <div class="form-group">
        <!-- <input class="form-control" placeholder="Search Anything About Your Friends" ng-model="searchTerm"> -->

        <input class="form-control" ng-model="searchTerm.name" placeholder="Search Name">
        <input class="form-control" ng-model="searchTerm.location.state" placeholder="Search State">
        <input type="checkbox" ng-model="exactMatch"> Exact Match



        <select class="input-medium">
          <option>Name</option>
          <option>#Friends</option>
          <option>City</option>
          <option>State</option>
          <option>Country</option>
        </select>

        <select class="input-medium">
          <option value="-">Descending</option>
          <option value="+">Ascending</option>
        </select>
      </div>
    </form>

    <ul>
      <li class='friend' ng-repeat="friend in friends | filter: searchTerm:exactMatch">
        <img class="profile-pic" ng-src="{{friend.pic_square}}">
        <h3>{{ friend.name }}</h3>
        <div class="location">
          Location: {{friend.location.city}}, {{friend.location.state}}, {{friend.location.country}}
        </div>
        <div class="status">
          Status: {{friend.status}}
        </div>
        <div class="num-friends">
          Friends: {{friend.friend_count}}
        </div>
      </li>
    </ul>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- your scripts here -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js" ></script>
  <script src="./js/app.js" ></script>
  <script src="./js/FriendCtrl.js" ></script>
</body>
</html>
